/ptt/.fresh
/go-pttbbs
/cover.out
/ptt/testcase/.PASSWDS
/ptt/testcase/home
/ptt/testcase/tmp
/testcase/.PASSWDS
/testcase/home
/apidoc/template.json
/swagger
/cache/testcase/boards
/ptt/testcase/boards
/02-config.run.ini
**/cover.out
